<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-5p | %-25thread | %-35.35logger{6}:%-4L | %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout" />
    </root>

<!--    <logger name="org.springframework.cloud.gateway" level="debug" />-->
</configuration>